.modal-dashboard{
    width: 45rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--gray-500);
    background-color: var(--blue-800);
    color: var(--white);
    padding: 30px;
    opacity: 1 !important;
}

.modal-dashboard .close{
    position: relative;
    left: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    color: var(--white);
    border-radius: 100%;
    font-size: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.modal-dashboard .close:hover{
    background-color: var(--gray-500);
}

.modal-dashboard .profile-pet-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.modal-dashboard .profile-pet-modal img{
    width: 100px;
    height: 100px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 50px;
}

.modal-dashboard .record-of-pet{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.modal-dashboard .record-of-pet h3{
    font-size: 15px;
    margin-bottom: 20px;
    padding-left: 35px;
}

.modal-dashboard .record-of-pet .record{
    font-size: 10px;
    border-left: 1px solid var(--gray-500);
    padding: 0 35px;
}

.modal-dashboard .new-appointment h1{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.modal-dashboard .new-appointment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-dashboard .new-appointment img{
    width: 15px;
    height: 15px;
}

.modal-dashboard .new-appointment form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.modal-dashboard .new-appointment form .inputs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.modal-agenda{
    min-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--gray-500);
    background-color: var(--blue-800);
    color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-agenda .profile-pet-modal{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
}

.modal-agenda .profile-pet-modal h2{
    font-size: 15px;
}

.modal-agenda .profile-pet-modal img{
    width: 50px;
    height: 50px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 50px;
}

.modal-agenda p{
    margin-bottom: 15px;
}

.modal-agenda .buttons{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.modal-agenda .buttons button{
    margin-bottom: 20px;
    border: none;
    width: 120px;
    font-size: 12px;
    padding: 3px;
    border-radius: 50px;
}

.modal-add-pet-profile{
    display: none;
    min-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--gray-500);
    background-color: var(--blue-800);
    color: var(--white);
    padding: 20px;
}

.modal-add-pet-profile form{
    display: flex;
    margin-top: 30px;
}

.modal-add-pet-profile form input{
    width: 10rem;
    padding: 3px 10px;
    height: 1.5rem;
    border-radius: 5px;
    border: none;
}

.modal-add-pet-profile form div div{
    margin: 20px;

}  

.modal-add-pet-profile form .appointment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-add-pet-profile form .appointment-form button{
    margin-top: 50px;
    margin-bottom: 20px;
    border: none;
    width: 120px;
    height: 30px;
    font-size: 16px;
    padding: 3px;
    border-radius: 8px;
}



.modal-add-pet-profile .close{
    position: relative;
    left: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    color: var(--white);
    border-radius: 100%;
    font-size: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.modal-add-pet-profile .close:hover{
    background-color: var(--gray-500);
}